<div class="d-none d-sm-block">
  <div class="row footermain">
    <div class="col p4 text-center">
        Animegination, Your One-Stop Anime Superstore! Phone (925)984-5555, 
        Email: <a class="mailto" href="mailto:info@animegination.net">info@animegination.net</a>
    </div>
  </div>
  <div class="row footermain">
    <div class="col-4 footerleft d-none d-md-block">
        <div class="footercontent">
            <p class="p3">
              <a [routerLink]="['/legal']">Legal Stuff</a>
            </p>
            <p class="p3">
              <a [routerLink]="['/ratings']">Ratings</a>
            </p>
            <p class="p3">
              <a [routerLink]="['/shipping']">Shipping Info</a>
            </p>
        </div>
    </div>
    <div class="col-11 col-md-8 footerright">
      <div class="footercontent">
          <p class="p5">
              Copyright © 1997 - 2019 Animegination, Inc. All Rights Reserved. Dealer Inquiries Invited.
          </p>
          <p class="p5">
              *The following restrictions apply to all coupons unless otherwise noted: Items already heavily discounted (weekly specials, bargain bin items, close out items, and specialty imports items) are excluded from coupon discounts. Orders must be completed through our online store at Animegination.net. Items that are on special or are excluded from additional discounts do not count toward coupon dollar amount requirements. Only one coupon or gift certificate may be applied to each order. Canceling or revising your order may affect its eligibility for the coupon.
          </p>
      </div>
    </div>
  </div>
</div>
