<div class="row">
    <div class="col-sm-10 offset-sm-1">

    <h2>Contact Form</h2>
    <div class="py-1"></div>

    <form (submit)="onSubmit(); contactForm.reset()" #contactForm="ngForm">
        <div class="form-group">
            <label for="typeDropdown">Type of Communication</label>
            <select name="typeDropdown" required
              class="form-control" id="typeDropdown" 
              [(ngModel)]="noteModel.correspondenceType">
                <option *ngFor="let corType of correspondenceTypes" 
                    value={{corType.typeCode}} >
                        {{corType.description}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="title">Title <span class="anime-color">*</span></label>
            <input type="text" required
                  name="title"
                  class="form-control" id="title" 
                  [(ngModel)]="noteModel.title" />
        </div>
        <div class="form-group">
            <label for="message">Message <span class="anime-color">*</span></label>
            <textarea rows="5" required
                  name="note"
                  class="form-control" id="note" 
                  [(ngModel)]="noteModel.note">
            </textarea>
        </div>

      <div class="py-3">
          <button class="btn btn-block anime-button-lg font-em-10" 
            type="submit"
            [disabled]="!contactForm.valid">Submit
          </button>
      </div>

      <div class="pb-3"></div>
      <div *ngIf="submitted && !contactForm.valid" class="alert alert-success pb-3">
          Your message was successfully submitted.  Thank you.
      </div>
    </form>
  </div> 
</div>
