<h2 class="pb-3">Ratings System</h2>

<div class="font-em-10">
  <div class="col-12 col-lg-10 offset-lg-1">
    <p>
      The contents of all material available on this Internet site – including, but not limited to, 
      text, graphics, logos, icons, images, audio and/or video clips, digital downloads, 
      data compilations, the compilation of materials on this site and software -- have not been 
      copyrighted by Animegination, unless otherwise indicated. 
      These materials may not be reproduced, copied, distributed, displayed, published, transmitted, 
      adapted, edited or downloaded in any way without drawing the ire of Animegination.
    </p>

    <h4>ALL, PG</h4>
    <p class="pl-3">
      Generally acceptable for children. No Nudity. Possible mild violence.
    </p>
    <h4>12+, 13+, 14+</h4>
    <p class="pl-3">
      May contain violence, brief nudity, and/or mild language. May suggest sexual situations, 
      but no situations are shown. Parental discretion advised.
    </p>
    <h4>15+, 16+, 17+</h4>
    <p class="pl-3">
      Strong violence and strong language. Prevalent Nudity may be contained within the picture. 
      Mild sexual situations may be shown.
    </p>
    <h4>18+, R</h4>
    <p class="pl-3">
      Extreme violence, Explicit Nudity, and/or Extreme Language may be contained in the picture. 
      May contain sexually explicit material. Absolutely not for anyone under 18 years of age.
    </p>
    <h4>NR</h4>
    <p class="pl-3">
      Not Rated.
    </p>
    <h4>Please note:</h4>
    <p>
      Ratings used within our system are oftentimes provided by the manufacturer of the product. 
      Because of the differences in ratings used by these companies, we have combined their systems, 
      with the descriptions of the ratings listed above. Animegination does not set ratings 
      (except for its own products) and is not responsible for errors, omissions, 
      or inaccurate ratings. These ratings are guidelines only, and are subject to change. 
      Should you find that the ratings listed here are not accurate, or would like to suggest 
      a rating for titles which do not have one at present, please contact us at 
      <a href="mailto:info@animegination.net">info@animegination.net</a> 
    </p>
    <p class="pb-3">
      We hope this feature is useful to you as our customer.
    </p>
  </div>
</div>
