<div class="bgc-gray">

<h2 class="child">{{title}}</h2>

<ul class="list-inline">
    <li *ngFor="let prod of products" class="li-child"
      [routerLink]="['/detail']" [queryParams]="{ productID: prod?.ProductID }">
        <a>
          <div class="card frame card-max">
            <img src="https://reydavid.blob.core.windows.net/anime/{{prod?.ProductCode}}.jpg"
                  class="card-img-top mx-auto image-max" alt="{{prod?.ProductCode}}" />
            <div class="card-body">
                <div class="card-title blue">{{prod?.ProductTitle}}</div>
                <img src="https://reydavid.blob.core.windows.net/assets/Rating {{prod?.RatingID}} Stars.png"
                      alt="{{prod?.RatingID}} stars" class="rating-max" />
                <div>
                  <table>
                    <tr>
                      <td>List Price: </td>
                      <td><s>{{prod?.UnitPrice | currency:'USD':'symbol' }} </s></td>
                    </tr>
                    <tr>
                      <td>Your Price: </td>
                      <td><strong><span class="text-danger">{{prod?.YourPrice | currency:'USD':'symbol' }} </span></strong></td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </a>
    </li>
</ul>
