<h2 class="inline pr-3">Shopping Cart</h2>

<div *ngIf="!order">
    <div class="pt-3"></div>
    <h3>Your Shopping Cart is Empty</h3>
    <div class="pb-3"></div>
</div>
<div *ngIf="order">
    <div class="inline" *ngIf="order?.orderID">
        {{order?.productQuantity}} Products, {{order?.itemQuantity}} Items
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 order-sm-2 col-md-5 order-md-2 col-lg-3">
            <div class="row">
                <div class="col-10 offset-1 col-lg-11 offset-lg-0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div *ngIf="isFreeShipping">
                                <i class="fa fa-check-circle"></i>
                                <span class="alert-content pb-2 pl-2">Your order qualifies for FREE Shipping</span>
                            </div>
                            <h5 class="panel-title">Order Summary</h5>
                        </div>
                        <div class="panel-body large-font">
                            <div class="row pb-2">
                                <div class="col-10 offset-1 col-lg-11 offset-lg-0">
                                    Count: {{order?.itemQuantity}} items
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-6 offset-1 col-lg-7 offset-lg-0">
                                    Order Subtotal
                                </div>
                                <div class="col-4 col-lg-5 text-right font-weight-bold">
                                    {{order?.subTotal | currency:'USD':'symbol'}}
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                                    Discounts
                                </div>
                                <div class="col-5 col-lg-6 text-right text-danger font-weight-bold">
                                    <span *ngIf="isDiscount">({{order?.discounts | currency:'USD':'symbol'}})</span>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 offset-1 col-sm-4 col-md-4 col-lg-4 offset-lg-0">
                                    Ship to
                                </div>
                                <div class="col-6 col-sm-7 col-md-7 col-lg-8 text-right">
                                    {{address?.city}}, {{address?.state}}
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                                    Shipping
                                </div>
                                <div class="col-5 col-lg-6 text-right font-weight-bold">
                                    {{order?.shippingHandling | currency:'USD':'symbol'}}
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                                    Tax
                                </div>
                                <div class="col-5 col-lg-6 text-right font-weight-bold">
                                    {{order?.taxes | currency:'USD':'symbol'}}
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-6 offset-1 col-lg-6 offset-lg-0">
                                    <strong>Estimated Total</strong>
                                </div>
                                <div class="col-4 col-lg-6 text-right">
                                    <strong class="text-danger font-size-16">
                                        {{order?.totals | currency:'USD':'symbol'}}
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1 col-sm-11 offset-sm-1 col-md-12 offset-md-0 pb-3">
                                <button class="btn btn-block anime-button-lg" type="submit">Proceed to Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 order-sm-1 col-md-7 order-md-1 col-lg-9">
            <ul class="list-no-bullets">
                <li *ngFor="let product of cartProducts">
                    <app-cart-item [cartItem]="product" [cartType]="cartType"></app-cart-item>
                </li>
            </ul>

            <!--<ul class="list-no-bullets">
            <li *ngFor="let prod of cartProducts"
                (click)="OnSelectProduct(prod)">
                <cartItem [product]="prod"></cartItem>
            </li>
            </ul>-->

            <!-- <ul class="list-no-bullets">
                <li *ngFor="let prod of cartProducts">
                    <cartItem [product]="prod" (selectItem)="OnSelectProduct($event)"></cartItem>
                </li>
            </ul> -->
        </div>
    </div>
</div>

