<div class="row pt-3">
    <div class="col-12 col-sm-6 order-sm-2 col-md-6 order-md-2 col-xl-4">
        <div class="row">
            <div class="col-10 offset-1 col-lg-11 offset-lg-0">
                <app-subtotals [actionButton]="false" [marketing]="true"></app-subtotals>
            </div>
        </div> 
    </div>

    <div class="col-12 col-sm-6 order-sm-1 col-md-6 order-md-1 col-xl-8">
        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1">
                <h2>Confirm Shipping Address</h2>
                <div class="row">
                    <div class="col-12 col-md-10 col-xl-6">
                        <div class="card">
                            <!-- <h3 class="card-header">Address Book</h3> -->
                            <div class="pt-3 px-3 bottom-border">
                                <input type="radio" checked>
                                <label class="pl-3 bold">Selected</label>
                            </div>
                            <div class="card-body">
                                <div class="card-tall">
                                    <div *ngIf="userAccount.address && userAccount.city && userAccount.zipCode">
                                        <strong>{{userAccount.firstName}} {{userAccount.lastName}}</strong>
                                        <div>{{userAccount.address}}</div>
                                        <div>{{userAccount.city}}</div>
                                        <div>{{userAccount.state}} {{userAccount.zipCode}}</div>
                                        <div>United States</div>
                                        <p></p>
                                    </div>
                                    <div *ngIf="!userAccount.address && !userAccount.city && !userAccount.zipCode">
                                        <p>{{missingAddressBook}}</p>
                                    </div>
                                    <div *ngIf="!userAccount.address || !userAccount.city || !userAccount.zipCode">
                                        <div *ngIf="userAccount.address || userAccount.city || userAccount.zipCode">
                                            <p>{{incompleteAddressBook}}</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default anime-button" 
                                        (click)="goAddress()">Edit</button>
                            </div>
                        </div>
                        <div class="py-3">
                            <button class="btn btn-block anime-button-lg font-size-16" 
                            (click)="goCheckout()">Deliver to this Address</button>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

