<h2 class="pb-3">Copyright and Trademarks</h2>

<div class="font-em-10">
  <div class="col-12 col-lg-10 offset-lg-1">
    <p>
      The contents of all material available on this Internet site – including, but not limited to, 
      text, graphics, logos, icons, images, audio and/or video clips, digital downloads, 
      data compilations, the compilation of materials on this site and software -- have not been 
      copyrighted by Animegination, unless otherwise indicated. 
      These materials may not be reproduced, copied, distributed, displayed, published, transmitted, 
      adapted, edited or downloaded in any way without drawing the ire of Animegination.
    </p>
    <p>
      Copyright is not claimed on any trademarks, characters, images, likenesses or designs created, 
      owned, or reserved by third-party illustrators, cartoonists, designers, producers, vendors or 
      companies which have been either used in their original form or which have been customized or 
      enhanced for use on this Internet Site.
    </p>
    <p>
      Permission and licensing has not been officialy obtained for the use and display of the images, 
      likenesses, and characters portrayed in the videos and other merchandise contained within this site, 
      or can be considered fair use under US copyright law.
    </p>
    <p>
      Permission to use elements – such as product information, press releases, announcements, news, 
      FAQs and banner ads downloaded in order to link to Animegination.net - from this Site is granted, 
      provided that (1) the copyright notice at the bottom of the Terms of Use & Privacy Policy appears 
      in all copies and Animegination is credited as the source of the elements used, 
      (2) any other copyright notices (i.e., copyright notices that do not reference Animegination) 
      appearing in the text are also included, (3) the use of these elements is strictly for informational 
      and non-commercial or personal use only and will not be copied or posted on any network computer, 
      broadcast in any media or otherwise published unless expressly and explicitly authorized by 
      Animegination and (4) no modifications of any elements are made. Animegination may withdraw 
      its license at any time for any reason.
    </p>
    <p class="pb-3">
      All other rights are reserved by Animegination. Copyright infringement is a violation of federal law 
      subject to criminal and civil penalties.
    </p>
  </div>
</div>
