<h2 class="pb-3">Thanks for shopping with us, {{ userAccount.FirstName }}!</h2>

<div class="font-size-16">
  <p>
    Your order has been placed.
  </p>
  <p>
    For delivery tracking information and other order details, 
    please check out the confirmation email we're sending to <span class="bold">{{ userAccount.Email }}</span>
  </p>
  <p *ngIf="orderNumber">
    Order number: <span class="bold">{{ orderNumber }}</span> 
    <span class="p6 pl-3" (click)="goDetails()">View order details</span>
  </p>
  <p>
    Estimated delivery: <span class="bold">{{ shipDate }} </span>
  </p>
  <p>
    If there are any problems with this order, you may contact us by e-mail. 
    Please make sure you include all relevent information, including your order number.
  </p>
</div>
<div class="font-size-16 text-danger font-italic bold pb-5">
  (Actually, NOTHING will be delivered.  You will be charged NOTHING.  This is, after all, only a DEMO web site. Thanks for playing along anyway)
</div>
