<h2>Write Your Product Review</h2>
<div class="py-1"></div>

<div class="font-size-16">
  <div class="row">
    <div class="col-12 col-lg-4">

        <div class="card align-items-center pt-3">
            <img src="https://reydavid.blob.core.windows.net/anime/{{product?.ProductCode}}.jpg"
                alt="{{product?.ProductCode}}" class="card-img-top card-max pointer" 
                (click)="OnSelectProduct()" />
            <div class="card-body">
                <h5 (click)="OnSelectProduct()" class="pointer nowrap">{{product?.ProductTitle}}</h5>
                <img src="https://reydavid.blob.core.windows.net/assets/Rating {{product?.RatingID}} Stars.png"
                    alt="{{product?.RatingID}} stars" class="img-responsive" />
                <div class="pt-2"></div>
                <div>{{product?.MediumName}}</div>
                <div>List Price: <s>{{product?.UnitPrice | currency: 'USD':true }} </s></div>
                <div>Your Price: <strong><span class="text-danger">
                    {{product?.YourPrice | currency:'USD':'symbol' }} </span></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block col-lg-8">
      <h4>Submission Guidelines</h4>
      <p>
          1) We welcome your comments on all the titles in our catalog.
          You can take a look at some recent reviews before you write your own.
      </p>
      <p>
          2) Make sure you are logged in when you write your review! 
      </p>
      <p>
          3) Explain why you like or dislike the title, 
          focusing your comments on your own experience viewing the title
      </p>
      <p>
          4) Avoid single-word reviews, bad language, contact information 
          (email addresses, phone numbers, etc.), URLs, time-sensitive material or 
          alternative ordering information
      </p>
      <p>
          5) Please do not use any HTML in the review. 
          If you wish to insert a break between paragraphs, just leave a blank line separating them.
      </p>
      <p>
          6) All submitted reviews become property of the publisher of this website.
      </p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12 col-lg-10 offset-lg-1">

      <form (submit)="onSubmit(); reviewForm.reset()" #reviewForm="ngForm">
          <!-- <div class="form-group">
              <label for="ratingScore">Your Rating</label>
              <input type="number" min="1" max="5" step="1" required
                  name="ratingScore" id="ratingScore" value={{ratingModel.ratingId}} 
                  [(ngModel)]="ratingModel.ratingId" class="form-control" 
              >
          </div> -->

          <app-star-rating (rating)="getRating($event)"></app-star-rating>

          <div class="form-group">
              <label for="title">A Title for your Review <span class="anime-color">*</span></label>
              <input type="text" required
                    name="title"
                    class="form-control" id="title" 
                    [(ngModel)]="ratingModel.title" />
          </div>
          <div class="form-group">
              <label for="message">Write your Review <span class="anime-color">*</span></label>
              <textarea rows="5" required
                    name="feedback"
                    class="form-control" id="feedback" 
                    [(ngModel)]="ratingModel.feedback">
              </textarea>
          </div>

        <div class="py-3">
            <button class="btn btn-block anime-button-lg font-size-16" 
              type="submit"
              [disabled]="!reviewForm.valid">Submit
            </button>
        </div>

        <div class="pb-3"></div>
        <div *ngIf="submitted && !reviewForm.valid" class="alert alert-success pb-3">
            Your message was successfully submitted.  Thank you.
        </div>

        <!-- <div>Rating Model</div>
        {{ reviewForm.value | json }} -->
      </form>
    </div>

  </div>
</div>
