.bar47 {
    height: 100%;
    margin-left: -15px;
    margin-right: 7px;
    background-color: #FFA80B;
}
.bar03 {
    height: 100%;
    margin-left: -15px;
    margin-right: 309px;
    background-color: #FFA80B;
}
