<div class="panel panel-default">
    <div class="panel-heading">
        <div *ngIf="isFreeShipping && showMarketing">
            <i class="fa fa-check-circle"></i>
            <span class="alert-content pb-2 pl-2">Your order qualifies for FREE Shipping</span>
        </div>
        <h5 class="panel-title">Order Summary</h5>
    </div>
    <div class="panel-body large-font">
        <div class="row pb-2">
            <div class="col-10 offset-1 col-lg-11 offset-lg-0">
                Count: {{order?.itemQuantity}} items
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-6 offset-1 col-lg-7 offset-lg-0">
                Order Subtotal
            </div>
            <div class="col-4 col-lg-5 text-right font-weight-bold">
                {{order?.subTotal | currency:'USD':'symbol'}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                Discounts
            </div>
            <div class="col-5 col-lg-6 text-right text-danger font-weight-bold">
                <span *ngIf="isDiscount">({{order?.discounts | currency:'USD':'symbol'}})</span>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-4 offset-1 col-sm-4 col-md-4 col-lg-4 offset-lg-0">
                Ship to
            </div>
            <div class="col-6 col-sm-7 col-md-7 col-lg-8 text-right">
                {{address?.city}}, {{address?.state}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                Shipping
            </div>
            <div class="col-5 col-lg-6 text-right font-weight-bold">
                {{order?.shippingHandling | currency:'USD':'symbol'}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-5 offset-1 col-lg-6 offset-lg-0">
                Sales Tax
            </div>
            <div class="col-5 col-lg-6 text-right font-weight-bold">
                {{order?.taxes | currency:'USD':'symbol'}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-6 offset-1 col-lg-6 offset-lg-0">
                <strong>Order Total</strong>
            </div>
            <div class="col-4 col-lg-6 text-right">
                <strong class="text-danger font-size-16">
                    {{order?.totals | currency:'USD':'symbol'}}
                </strong>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showActionButton">
        <div class="col-10 offset-1 col-sm-11 offset-sm-1 col-md-12 offset-md-0 pb-3">
            <button class="btn btn-block anime-button-lg font-size-16" 
                    (click)="goCheckout()">Proceed to Checkout</button>
        </div>
    </div>
</div>
