<h2 class="pb-3">Return Policy and Requests</h2>

<div class="row font-em-10">
  <div class="col-12 col-lg-10 offset-lg-1">

    <p>
        All of the products that we sell are new and factory sealed. If your Blu-Ray, DVD, 
        or other merchandise is defective due to a flaw in manufacturing, 
        we will promptly exchange the product for another of the same title.
    </p>
    <p>
        Unopened products can be exchanged for a store credit (credit card purchases 
        will be credited back to the card, rather than issuing store credit) with our company 
        for the original purchase price within ninety (90) days of the date on your purchase invoice.
    </p>
    <p>
        You will need a return request form and then call us or use our 
        <span class="p6" (click)="newNote()">online return authorization form</span> 
        to obtain a return authorization number. 
        Additional return request forms can be downloaded and printed on your own computer. 
        Please remember to include these with your return shipment.
    </p>
    <p>
        Note: Products returned without necessary paperwork, without a return authorization number, 
        or more than ninety (90) days after the invoice date, may be returned to the customer.
    </p>
    <p>
        If your merchandise is not defective, but has been damaged during shipping:
    </p>
    <p>
        For <span class="bold">UPS Packages</span>: You will need to call UPS at 1-800-PICK-UPS to report the incident. 
        Although it is not necessary, it is also a good idea to call us and let us know that a problem has occured 
        during shipment and that UPS will be contacting us.
    </p>
    <p>
        For <span class="bold">US Postal Service (USPS)</span>: Please contact our Customer Care Team through this 
        <span class="p6" (click)="newNote()">online form</span>.
    </p>
    <p>
        For the return authorization request form, 
        <span class="p6" (click)="newNote()">click here</span>.
        We cannot accept any product back without a request authorization numer 
        (request authorization numers expire in 30 days!). 
        If you’re still unsure about what to do, please contact us!
    </p>
    <p>
        In the request form, please provide specific information if you had a problem with your order 
        or why you wish to return your purchase.
    </p>

  </div>
</div>
