<div class="row">
    <div class="col-sm-10 offset-sm-1">

    <h2>Add New</h2>
    <div class="py-1"></div>

    <form (submit)="onSubmit(); mediumForm.reset()" #mediumForm="ngForm">
        <div class="form-group">
            <label for="mediumName">Medium Name <span class="anime-color">*</span></label>
            <input type="text" required
                  name="mediumName"
                  class="form-control" id="mediumName" 
                  [(ngModel)]="mediumModel.MediumName" />
        </div>
        <div class="form-group">
            <label for="description">Description <span class="anime-color">*</span></label>
            <input type="text" required
                  name="description"
                  class="form-control" id="description" 
                  [(ngModel)]="mediumModel.Description" />
        </div>

      <div class="py-3">
          <button class="btn btn-block anime-button-lg font-em-10" 
            type="submit"
            [disabled]="!mediumForm.valid">Submit
          </button>
      </div>

      <div>Medium Model</div>
      {{ mediumForm.value | json }}
      {{ mediumForm.valid }}

      <div class="pb-3"></div>
      <div *ngIf="submitted && !mediumForm.valid" class="alert alert-success pb-3">
          Your message was successfully submitted.  Thank you.
      </div>
    </form>
  </div> 
</div>
