  <h2 class="pb-3" (click)="refreshFeed()">In the News</h2>

  <div class="font-em-10 pb-3">
    <div class="col-12 col-lg-10 offset-lg-1">
    
      <app-feed-card *ngFor="let feed of feeds" [feed]="feed" ></app-feed-card>

    </div>
  </div>

  <!-- <ul class="list-inline">
      <li *ngFor="let category of categories" class="li-child"
        [routerLink]="['/category-list']" [queryParams]="{ categoryID: category?.CategoryID }">
          <a>
              <div class="card frame card-max">
                  <img class="card-img-top image-max" 
                        src="https://reydavid.blob.core.windows.net/genres/{{category?.ImageFile}}"
                        alt="{{category?.CategoryName}}" />
                  <div class="card-body">
                      <div class="card-title genre-title" 
                        [class.smaller]="category?.Description.length > 20">{{category?.Description}}</div>
                  </div>
              </div>
          </a>
      </li>
  </ul> -->
