<h2 class="pb-3">Shipping Info</h2>

<div class="row font-size-16">
  <div class="col-12 col-lg-10 offset-lg-1">
    <p>
        From the time we receive your order and place it in our system, standard processing time is 24-48 hours. 
        The delivery time after processing varies based upon the shipping method that you have selected. 
        Typical delivery times for each shipping method are listed in the "Current Rates" section of this page.
    </p>
    <p>
        All pre-pack items are counted as a single item for shipping costs.
    </p>
    <p class="bold">
        If you are a domestic customer (US) and order over $49, Economy shipping is free.
    </p>
    <p>
        Please understand that many of the pre-order dates shift about without the manufacturer letting us know. 
        If you’re ordering something projected into the future by a fair amount, call us.
    </p>

    <h5 class="bold">Express Shipments</h5>

    <p>
        Express shipping means that, if you order by credit card and we’ve got the item in stock 
        (even more likely now), you will receive it in very short order. 
        However, if it’s out of stock (either here or from the manufacturer), 
        then you’ll have to wait for it regardless of the shipping method you choose. 
        Express shipped items are shipped via UPS 2 Day Air and typically arrive at least one week 
        sooner than standard shipping.
    </p>

    <p>
        Please be aware that if you have a PO Box, or are stationed in the service, 
        our shipping is limited to Mail and Priority Mail (Economy and Standard Shipping options) 
        because UPS will not deliver to these locations.
    </p>

    <p>
        Backordered items usually take an average of 10-14 business days. 
        If it is an extremely popular item, or it is an imported item, it may take longer.
    </p>

    <h5 class="bold">Other Notes</h5>

    <p>
        If you receive defective merchandise, please call for return instructions. 
        Note that packages damaged in transit by UPS are not defective: to remedy that situation, 
        see below:
    </p>

    <p>
        For <span class="bold">UPS Packages</span>: You will need to call UPS at 1-800-PICK-UPS to report the incident. 
        Although it is not necessary, it is also a good idea to call us and let us know that a problem has occured 
        during shipment and that UPS will be contacting us.
    </p>
    <p>
        For <span class="bold">US Postal Service (USPS)</span>: Please contact our Customer Care Team through this 
        <span class="p6" (click)="newNote()">online form</span>.
    </p>
    <p>
        We cannot accept any product back without an RMA (RMAs expire in 30 days!). If you’re still unsure about what to do, please contact us!
    </p>
    <p>
        For any other concerns, please visit our 
        <span class="p6" (click)="newNote()">General Customer Care Page </span> 
        or contact us via email at 
        <span><a href="mailto:info@animegination.net">info@animegination.net</a></span>.
    </p>

    <h5 class="bold">Current Rates</h5>

    <p>
        $3.0 for first + $1.0 each additional item. Shipped via USPS Mail. 
        Typical delivery time is 10 - 14 days. 
        <span class="bold">Free for domestic (US) customers who order over $49!</span> 
    </p>

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-1">
        <table class="bordered">
          <tr class="bordered text-center">
            <th>If you order:</th>
            <th>Total Shipping <br/>and Handling:</th>
          </tr>
          <tr class="bordered">
            <td>1 item</td>
            <td>$3.0</td>
          </tr>
          <tr class="bordered">
            <td>2 items</td>
            <td>$4.0</td>
          </tr>
          <tr class="bordered">
            <td>3 items</td>
            <td>$5.0</td>
          </tr>
          <tr class="bordered">
            <td>4 items</td>
            <td>$6.0</td>
          </tr>
          <tr class="bordered">
            <td>5 items</td>
            <td>$7.0</td>
          </tr>
          <tr class="bordered">
            <td>6 items</td>
            <td>$8.0</td>
          </tr>
          <tr class="bordered">
            <td>7 items</td>
            <td>$9.0</td>
          </tr>
          <tr class="bordered">
            <td>8 items</td>
            <td>$10.0</td>
          </tr>
          <tr class="bordered">
            <td>9 items</td>
            <td>$11.0</td>
          </tr>
          <tr class="bordered">
            <td>10 items</td>
            <td>$12.0</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="py-3"></div>
  </div>
</div>
