<div class="row">
    <div class="col-sm-10 offset-sm-1 pb-3">
        <h2>Publisher Types</h2>
        <div class="row pt-3 pb-2">
          <div class="col-6">
            <span class="p6 py-3" [routerLink]="['/publisher-add']">Create New</span>
          </div>
        </div>
        <ng-container *ngFor="let publisher of publishers">
          <div class="row p-2 my-2 all-borders-black">
            <div class="col-3">{{publisher?.PublisherName}}</div>
            <div class="col-6">{{publisher?.Description}}</div>
            <div class="col-3 d-flex justify-content-end">
                <span class="p6 px-3" [routerLink]="['/publisher-edit']" 
                  [queryParams]="{ publisherID: publisher?.PublisherID }">Edit</span> | 
                <span class="p6 px-3" (click)="OnDeletePublisher(publisher)">Delete</span> 
            </div>
          </div>
        </ng-container>
    </div>
</div>
