<h2 class="pb-3">Privacy Policy</h2>

<div class="font-size-16">
  <p>
      We at Animegination are committed to respecting your privacy and the security of your personal information.
      Animegination is posting this privacy statement to inform our customers of our policies with regards to privacy. The information provided here gives our policy regarding gathering and dissemination of information for our Sites.
  </p>
  <p>
      By visiting or using animegination.net or any other site that is owned or operated by Animegination or any other linked pages, features, content, mobile applications, and any other services we offer from time to time in connection with any of the foregoing, 
      you hereby acknowledge and consent to the terms of this Privacy Policy and the <a href="terms-of-use" target="_blank">Terms of Use</a>, of which this Privacy Policy is a part. 
      If you have questions or complaints regarding our Privacy Policy or practices, please contact us at legal@animegination.net.
  </p>
  <p>
    Any personal information (email address, home address, etc.) which we obtain from visitors/customers will not be sold or shared with any third party. All information gathered is used for internal purposes only. You may exercise the right to not receive future mailings, and information on removing yourself from our e-mail lists may be found in the Help section.
  </p>
  <p>
    Our Site uses cookies to keep track of your shopping cart so that you can go in and out of the ordering system without losing your order.
  </p>
  <p>
    Registration forms on our Site require users to give us contact information including addresses and email addresses. Customer contact information from the registration forms will not be used to send information about our company and its products. This information is only used internally.
  </p>
  <p>
    On-line ordering is available on our Sites for customers to mock the purchase of products and services.  No actual purchases take place.</p>
  <p>
    You may choose to add interactivity to our content through the use of third-party social networking sites, such as Facebook or Twitter, or through other third-party plug-ins and applications. When doing so, access may be provided in both directions from and to your personal social media profile. It is also possible that non-personally identifiable information can be provided from your interaction with our content. 
    By utilizing our Site in coordination with such third-party social networking sites, plug-ins, or applications, you consent to the use of such information by us in accordance with our privacy policy. In addition, Animegination cannot control how such information is used by these third parties, plug-ins, and applications, and it is possible that that information may be publically viewed by other users of these social networking sites, plug-ins, and applications.
  </p>
  <p>
    Social networking sites, plug-ins, and applications generally have their own privacy settings where you can control what data is shared. We recommend you consult their privacy policies and terms of use.
  </p>
  <p>
    Our Privacy Policy may change from time to time. We will post any changes on the Sites. If the changes are significant, then we will provide a more prominent notice, which will be posted on this Site prior to the changes becoming effective. 
    Each time a user accesses the Sites, the current version of the Privacy Policy applies.
  </p>
  <p class="pb-3">
    We hope this information is useful to you as our customer.
  </p>
</div>
