<div class="row">
    <div class="col-11 col-lg-6">
        <div class="row">
            <div class="col-4 col-sm-12 col-md-5 col-xl-4">
                <div (click)="OnSelectProduct(cartItem)" class="panel-body panel-default pointer">
                    <img src="https://reydavid.blob.core.windows.net/anime/{{cartItem?.productCode}}.jpg"
                        alt="{{cartItem?.productCode}}" class="card-max-cart img-responsive" />
                </div>
            </div>
            <div class="col-8 col-sm-12 col-md-7 col-xl-8">
                <h5 (click)="OnSelectProduct(cartItem)" class="pointer nowrap">{{cartItem?.productTitle}}</h5>
                <div>{{cartItem?.mediumName}}</div>
                <div>{{cartItem?.categoryName}}</div>
                <div>from {{cartItem?.publisherName}} in {{cartItem?.productYearCreated}}</div>
                <div>{{cartItem?.productLength}} minutes</div>
                <div class="small-gray">Item: {{cartItem?.productCode}}</div>

            </div>
        </div>
    </div>
    <div class="col-11 col-lg-5">
        <div class="row d-none d-lg-block pt-4"></div>
        <div class="row">
            <div class="col-6">
                <div>List Price: <s>{{cartItem?.unitPrice | currency: 'USD':true }} </s></div>
                <div>Your Price: <strong><span class="text-danger font-size-16">
                    {{cartItem?.yourPrice | currency:'USD':'symbol' }} </span></strong>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <i class="fa fa-check-circle"></i>
                    <span class="alert-content pb-2 pl-2">In Stock</span>
                </div>
                <div>Quantity: 
                    <input type="number" min="1" max="10" step="1" 
                        value={{cartItem?.quantity}} 
                        (change)="updateQuantity($event.target.value, cartItem)" 
                    >
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-2">
            <div class="px-2">
                <a class="anchor" (click)="moveItem(cartItem)">{{moveLabel}}</a> 
            </div>
            <div class="px-2">|</div>
            <div class="px-2">
                <a class="anchor" (click)="deleteItem(cartItem)">Delete</a>
            </div>
        </div>
        <div class="row d-block d-lg-none pb-4"></div>
    </div>
    <div class="col-12 partition"></div>
</div>
