<div class="body-bg-white">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-6">
            <a class="navbar-brand pl-2" routerLink="">
                <img src="https://reydavid.blob.core.windows.net/assets/Animegination-brand.PNG"
                     alt="Animegination" height="25" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-6">
            <div class="input-group pt-2 px-3">
                <input type="search" class="form-control" placeholder="Search the Store" 
                    #inSearch (keyup.enter)="onSearch(inSearch.value)" />
                <span class="input-group-btn image-btn">
                    <button class="btn btn-default" type="button" (click)="onSearch(inSearch.value)">
                        <img src="https://reydavid.blob.core.windows.net/assets/Search2.png" alt="Search" height="32" />
                    </button>
                </span>
            </div>
        </div>
    </div>
    
    <div class="body-bg-white">
      <nav class="navbar navbar-expand-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" 
                  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Features
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="#" routerLink="/slice/1">Featured Titles</a>
                <a class="dropdown-item" href="#" routerLink="/slice/3">Top Sellers</a>
                <a class="dropdown-item" href="#" routerLink="/slice/2">New Items</a>
                <a class="dropdown-item" href="#" routerLink="/slice/5">Close Out</a>
                <a class="dropdown-item" href="#" routerLink="/slice/4">Bargain Bin</a>
                <a class="dropdown-item" href="#" routerLink="/slice/6">Live Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" routerLink="/news">Recent News</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/genres">Shop by Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/about">About Us</a>
            </li>
          </ul>
  
          <ul class="navbar-nav">
            <li *ngIf="userFirstName" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" 
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hello, <span class="anime-color">{{userFirstName}}</span><span class="caret"></span>
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item hand" (click)="logout()">Sign Out</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" routerLink="/orders-list">Your Orders</a>
                <a class="dropdown-item" href="#" routerLink="/account">Your Account</a>
              </div>
            </li>
            <li *ngIf="!userFirstName" class="nav-item">
              <a class="nav-link hand" [class.disabled]="loggingIn" (click)="login()">Sign in</a>
            </li>
          </ul>
        </div>
  
        <div class="nav navbar-nav pl-3">
          <a routerLink="/cart" class="image-link">
              <img src="https://reydavid.blob.core.windows.net/assets/menu-cart.png"
                    alt="Shopping Cart" height="46" />
              <span class="badge badge-pill badge-anime">{{ order?.itemQuantity }}</span>
          </a>
        </div>
      </nav>  
    </div>
  
    <div class="pl-3">
      <router-outlet></router-outlet>
    </div>
  
    <app-footer-main></app-footer-main>
    <!-- <ng-container *ngIf="showFooter">
      <app-footer-main></app-footer-main>
    </ng-container> -->

    <app-spinner></app-spinner>
  </div>
  