<h2 class="pb-3">Terms of Use</h2>

<div class="font-em-10">
  <div class="col-12 col-lg-10 offset-lg-1">
    <p>Animegination provides website features and other products and services when you visit or shop using animegination.net, Animegination's mobile applications or other sites operated by Animegination (the "Sites").</p>
    <p>By using the Sites, and any of its affiliated sites and/or subdomains, you agree to our Terms of Use & Privacy Policy as each are posted on this site.</p>
    <p>Animegination reserves the right, at its sole discretion, to change, modify, alter or update the Terms of Use & Privacy Policy, in part or in whole, at any time. By using Animegination.net and/or its affiliated sites and/or subdomains after notice of such modifications, alterations or updates, you agree to be bound by the revised terms.</p>
    <p>If you have any questions regarding the Terms of Use & Privacy Policy for this site, please contact our Customer Care Team by e-mail ( 
      <a href="mailto:info@animegination.net">info@animegination.net</a> ), 
      mail or fax. Our contact information may be found by <a href="contact" target="_blank">clicking here</a>.</p>

    <ul>
      <li class="bullets-circle pb-2"><span class="bold">SITE CONTENT AND INFORMATION. </span>
        The Sites contain information, advice, text, and other materials that are provided for your convenience and enjoyment. You should be aware that the information might contain errors, omissions, inaccuracies, or outdated information. If a product offered by Animegination is not as described, you may return it according to our Return Policy
      </li>
      <li class="bullets-circle pb-2"><span class="bold">SITE POLICIES, MODIFICATION, AND SEVERABILITY. </span>
        Animegination reserves the right to make changes to the Sites and these Conditions of Use and the Privacy Policy at any time. Each time you use the Sites, you should visit and review the then current Terms of Use and Privacy Policy that apply to your transactions and use. If you are dissatisfied with the Sites, their content, Terms of Use or Privacy Policy, you agree that your sole and exclusive remedy is to discontinue using the Sites. 
        If any of these Terms of Use are deemed to be illegal or unenforceable, the remainder of the Terms of Use shall be unaffected and shall continue to be fully valid, binding, and enforceable.</li>
      <li class="bullets-circle"><span class="bold">YOUR ACCOUNT.</span></li>
      <li class="bullets-circle pb-2">
        If you register on the Sites, you are responsible for maintaining the confidentiality of your account and password, restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.
      </li>
      <li class="bullets-circle pb-2">
        Animegination does sell products for children, but it sells them to adults who can purchase with a credit card or other permitted payment method. If you are under 18, you may use the Sites only with involvement of a parent or guardian. Animegination reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole discretion. 
        Animegination reserves the right to change, suspend, or discontinue all or any aspects of the Sites at any time without prior notice.
      </li>
      <li class="bullets-circle pb-2">
        Animegination does not knowingly collect information from children, including those less than thirteen years of age. If you are a child, do not submit any information to Animegination. If a parent, guardian, or other concerned person becomes aware that we have collected information from a child, including one less than 13 years of age, please contact us promptly and we will take steps to delete and remove any such information.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">NO UNLAWFUL OR PROHIBITED USE. </span>
        As a condition of using the Sites, you agree that you will not use the Sites, or any of the content obtained from the Sites, for any purpose that is unlawful under applicable law or prohibited by these Conditions of Use, or to solicit or encourage the performance of any illegal activity or other activity which infringes the rights of Animegination, its affiliates or other individuals. 
        Furthermore, you may not, without limitation, copy, reproduce, distribute (including mirroring, data-mining or data scraping), transmit, publicly display, upload, perform, publish, license, modify, translate, adapt, create derivative works from, transfer, sell or otherwise exploit the Sites or any content, information, products or services obtained from the Sites, for any commercial purpose or enterprise without express written permission. 
        If you violate any of these Conditions of Use, your permission to use the Sites automatically terminates. Please report any violations of these Conditions of Use (except for claims of intellectual property infringement) to Animegination's Site director at legal@animegination.net.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">PROMOTIONAL PRICING. </span>
        All promotional pricing percentages off are based on the original Retail Price or MSRP.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">ERRORS ON THE SITES. </span>
        Prices and availability of products are subject to change without notice. In the event a product price is listed incorrectly due to typographical error or error in pricing information received from our vendors, Animegination shall have the right to refuse or cancel any orders placed for any product listed at the incorrect price, regardless of whether the order has been confirmed or your credit card has been charged. If your credit card has already been charged for the purchase and your order is canceled, animegination.net will promptly refund the amount charged to your credit card if applicable.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">DISTRIBUTING USER CONTENT. </span>
        Animegination may allow users to the Sites to post reviews and comments ("Content") on products featured on the Sites. By submitting such Content, you automatically agree and promise that all Content is accurate and original and that, without any particular time limit, and without the payment of any fees, Animegination and anyone Animegination permits may reproduce, display, distribute and create new works of authorship in any media, based on and including the Content. Additionally, you grant Animegination the right to use the name you submit in connection with such Content.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">NO ENDORSEMENT OF USER CONTENT. </span>
        Users to the Sites are prohibited from posting through the Sites any harmful, vulgar, obscene, profane, sexually explicit, abusive, threatening, privacy invading, libelous, racially, ethnically, or otherwise objectionable or unlawful content of any kind, or that infringes or may infringe on the intellectual or other rights of another. You acknowledge that Animegination does not endorse or pre-screen content, but that Animegination and its designees will have the right (but not the obligation) in their sole discretion to refuse, edit, move, or remove any content that is available via the Sites. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of any Content posted by you.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">APPLICABLE LAW. </span>
        By using the Sites, you agree that the laws of the state of California, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Animegination.
      </li>
      <li class="bullets-circle pb-2"><span class="bold">COPYRIGHT AND TRADEMARK NOTICE. </span>
        All screens appearing on the Sites including graphics, text, design, buttons, logos, images, and icons, as well as the selection, assembly, and arrangement, are the sole property of Animegination or its suppliers and/or licensors, and are protected by U.S. and international copyright laws. The content on the Sites is only for the purpose of shopping on the Sites or placing an order and for no other purpose. Any other use, including modification, reproduction, uploading, posting, transmission, or distribution in any form or by any means without Animegination's prior written permission, is strictly prohibited. All software used on the Sites is the sole property of Animegination or those supplying the software.
      </li>
      <p class="pb-3">
        ANIMEGINATION is a registered trademark of Animegination, Inc. In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made available through the Sites are trademarks or trade dress of Animegination in the U.S. and other countries or are the property of their respective owners. All rights not expressly granted herein are reserved.
      </p>
    </ul>
  </div>
</div>
