<div class="container">
  <div class="row wider">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-none d-lg-block">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
                    alt="Haruhi Suzumiya" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto17.jpg"
                    alt="K-ON" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto22.jpg"
                    alt="Avengers" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
                    alt="Namae" height="220px" />
            </div>
          </div>
          <div class="d-none d-md-block d-lg-none">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
                    alt="Haruhi Suzumiya" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto17.jpg"
                    alt="K-ON" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto22.jpg"
                    alt="Avengers" height="220px" />
            </div>
          </div>
          <div class="d-none d-sm-block d-md-none">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
                    alt="Haruhi Suzumiya" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto17.jpg"
                    alt="K-ON" height="220px" />
            </div>
          </div>
          <div class="d-block d-sm-none">
            <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
                alt="Haruhi Suzumiya" class="d-block w-100" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-none d-lg-block">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto27.jpg"
                    alt="Miku Hatsune" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto15.png"
                    alt="K-ON" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto11.png"
                    alt="Cosplay" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto20.jpg"
                    alt="Love Hina" height="220px" />
            </div>
          </div>
          <div class="d-none d-md-block d-lg-none">
            <div class="slide-box">
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
                  alt="Namae" height="220px" class="pr-2" />
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto27.jpg"
                alt="Miku Hatsune" height="220px" class="pr-2" />
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto15.png"
                alt="K-ON" height="220px" />
          </div>
          </div>
          <div class="d-none d-sm-block d-md-none">
            <div class="slide-box">
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto22.jpg"
                  alt="Avengers" height="220px" class="pr-2" />
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
                  alt="Namae" height="220px" />
            </div>
          </div>
          <div class="d-block d-sm-none">
            <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto17.jpg"
              alt="K-ON" class="d-block w-100" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-none d-lg-block">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto22.jpg"
                    alt="Avengers" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
                    alt="Namae" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto27.jpg"
                    alt="Miku Hatsune" height="220px" class="pr-2" />
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto15.png"
                    alt="K-ON" height="220px" />
            </div>
          </div>
          <div class="d-none d-md-block d-lg-none">
            <div class="slide-box">
                <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto11.png"
                alt="Cosplay" height="220px" class="pr-2" />
            <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto20.jpg"
                alt="Love Hina" height="220px" class="pr-2" />
            <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
                alt="Haruhi Suzumiya" height="220px" />
            </div>
          </div>
          <div class="d-none d-sm-block d-md-none">
            <div class="slide-box">
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto27.jpg"
                alt="Miku Hatsune" height="220px" class="pr-2" />
              <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto15.png"
                alt="K-ON" height="220px" />
            </div>
          </div>
          <div class="d-block d-sm-none">
            <img src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
                alt="Namae" class="d-block w-100" />
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>

<!-- 
<div class="col-md-10 offset-md-1">
  <div id="homeCarousel" class="carousel slide multi-item-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1"></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
      <li data-target="#homeCarousel" data-slide-to="3"></li>
      <li data-target="#homeCarousel" data-slide-to="4"></li>
      <li data-target="#homeCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-xs-4">
            <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto12.jpg"
          class="card-img-top mx-auto" alt="Haruhi Suzumiya" />
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-xs-4">
            <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto17.jpg"
              class="card-img-top mx-auto" alt="K-ON" />
          </div>
      </div>
      <div class="carousel-item">
        <div class="col-xs-4">
          <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto22.jpg"
            class="card-img-top mx-auto" alt="Avengers" />
        </div>
      </div>
      <div class="carousel-item">
          <div class="col-xs-4">
            <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto24.jpg"
              class="card-img-top mx-auto" alt="Namae" />
          </div>
      </div>
      <div class="carousel-item">
        <div class="col-xs-4">
            <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto27.jpg"
            class="card-img-top mx-auto" alt="Miku Hatsuna" />
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-xs-4">
            <img class="d-block w-100" src="https://reydavid.blob.core.windows.net/assets/WallPhoto11.png"
            class="card-img-top mx-auto" alt="Cosplay" />
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->
